{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
  </h1>
  <p>Dish Type: {{ dish.dish_type.name }}</p>
  <p>Price: {{ dish.price }}</p>
  <p>{{ dish.description }}</p>
  <h1>Cooks</h1>
  <hr>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</li>
    {% endfor %}
  </ul>
  <h1>Ingredients</h1>
  <hr>
  <ul>
    {% for di in dish.dish_ingredients.all %}
      <li>{{ di.ingredient.name }} - {{ di.amount }} {{ di.unit }}</li>
    {% endfor %}
  </ul>
{% endblock %}
